services:
  backend:
    build:
      context: .
      dockerfile: backend/docker/Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend

  frontend:
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:cached
      - frontend_node_modules:/app/node_modules

volumes:
  frontend_node_modules:


